<h2>{{bookItem.title}}</h2>

<p>by {{bookItem.author}}</p>
<p>{{bookItem.description}}</p>

<p>Rated {{bookItem.rating}} / 10</p>
<p>Added on {{bookItem.createdAt}}</p>

<!-- Link to the EDIT page (ID in the address to know which book to edit) -->
<a href="/book/{{bookItem._id}}/edit">Edit This Book</a>
